langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-ollama
langchain-openai
langchain-tavily
langgraph
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
Flask
google-genai
gradio
openai
psycopg-binary
psycopg
pypdf
python-dotenv
requests
rich
sentence-transformers
sounddevice
soundfile
google-ai-generativelanguage
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
pydantic
